/* login form */
.login-body{
    background-color: #777777;
}
.login-panel{
    background-color: white;
    border:none;
    border-radius: 5px;
    padding: 50px;
}
.panel-heading,.panel-body{
    padding-bottom: 50px;
}
.form-control{
    border: none;
    background-color: rgba(224, 224, 224, 0.24);
    color: rgba(0, 0, 0, 0.726);
    font-size: 15px;
}